<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
         id        = "com.cebu-tours.zubu"
        versionCode="13" 
        version   = "1.0.3">

    <!-- versionCode is optional and Android only -->

    <name>Cebu Tour Guide</name>

    <description>
        Cebu Tour Guide, use for searching tour package for your next destination. You may choose your tour and reserve it for future booking.
    </description>


    <author href="https://www.oliverconcepts.com" email="info@oliverconcepts.com">
       Engr. Oliver Gonzales
    </author>

	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	
	
	
	<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	</feature>

<feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
</feature>

</widget>